@charset "UTF-8";
@keyframes flicker {}@keyframes textShadow {}@font-face {
  font-family: "PokemonGb-RAeo";
  src: url("../fonts/PokemonGb-RAeo.ttf"); }

@font-face {
  font-family: "PokemonGbJapanHrregular-Bq93";
  src: url("../fonts/PokemonGbJapanHrregular-Bq93.ttf"); }

@font-face {
  font-family: "PokemonGbJapanKt-8Rw2";
  src: url("../fonts/PokemonGbJapanKt-8Rw2.ttf"); }

@font-face {
  font-family: "PokemonUnownGb-YAWa";
  src: url("../fonts/PokemonUnownGb-YAWa.ttf"); }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  background-color: #d5e0ee;
  margin: 0;
  padding: 0;
  font-family: "PokemonGb-RAeo";
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover; }

input {
  font-family: "PokemonGb-RAeo";
  height: 50px;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield;
  font-size: 1.9rem;
  padding-left: 1rem;
  width: 150px;
  margin-right: 1rem;
  box-shadow: 0 -6px 0 -2px #f0eef1, 0 6px 0 -2px #f0eef1, 0 -12px 0 -4px #f0eef1, 0 12px 0 -4px #f0eef1, 0 -18px 0 -8px #f0eef1, 0 18px 0 -8px #f0eef1, 0 -24px 0 -12px #f0eef1, 0 24px 0 -12px #f0eef1, -2px 0 0 0 black, 2px 0 0 0 black, 0 -4px 0 0 black, 0 4px 0 0 black, 0 -10px 0 -2px black, 0 10px 0 -2px black, 0 -14px 0 -4px black, 0 14px 0 -4px black, 0 -20px 0 -8px black, 0 20px 0 -8px black, 0 -26px 0 -12px black, 0 26px 0 -12px black, -4px 0 0 0 white, 4px 0 0 0 white, 0 -2px 0 2px white, 0 2px 0 2px white, 0 -8px 0 0px white, 0 8px 0 0px white, 0 -12px 0 -2px white, 0 12px 0 -2px white, 0 -16px 0 -4px white, 0 16px 0 -4px white, 0 -22px 0 -8px white, 0 22px 0 -8px white, 0 -28px 0 -12px white, 0 28px 0 -12px white, -6px 0 0 0 black, 6px 0 0 0 black, 0 0 0 4px black, 0 -6px 0 2px black, 0 6px 0 2px black, 0 -10px 0 0 black, 0 10px 0 0 black, 0 -14px 0 -2px black, 0 14px 0 -2px black, 0 -18px 0 -4px black, 0 18px 0 -4px black, 0 -24px 0 -8px black, 0 24px 0 -8px black, 0 -30px 0 -12px black, 0 30px 0 -12px black;
  border: none;
  background-color: #f0eef1;
  outline: none; }

input[type="submit"] {
  margin-top: -6px;
  text-align: center; }
  input[type="submit"].search {
    background-color: #4caf50; }
  input[type="submit"].random {
    background: #e76e55; }

.button {
  margin: 0.2rem;
  border: 2px solid black;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-family: "PokemonGb-RAeo";
  box-shadow: inset -4px -4px 0px 0px rgba(0, 0, 0, 0.3);
  outline: none; }
  .button:active {
    transform: translateY(2px);
    box-shadow: inset 4px 4px 0px 0px rgba(0, 0, 0, 0.2); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-list .slick-loading {
  background: url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 40px;
    line-height: 1;
    color: #f3cd4d;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -60px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -40px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.pokedex {
  width: 600px; }
  .pokedex .form-container .main-form {
    width: 100%;
    height: fit-content;
    background: #d2524d;
    border: 15px solid #f3cd4d;
    border-bottom: none;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .pokedex .form-container .main-form img {
      margin: 1rem auto 0 auto; }
    .pokedex .form-container .main-form label {
      margin: 2rem 2rem 0 auto;
      display: flex; }
  .pokedex .form-container .name-container {
    display: flex;
    justify-content: flex-end;
    border-left: 15px solid #f3cd4d;
    border-right: 15px solid #f3cd4d;
    background-color: #d2524d;
    padding-right: 2rem; }
    .pokedex .form-container .name-container #name-prev,
    .pokedex .form-container .name-container #name-next {
      background: darkslateblue; }
      .pokedex .form-container .name-container #name-prev:active,
      .pokedex .form-container .name-container #name-next:active {
        box-shadow: inset 4px 4px 0px 0px #3e2977; }
  .pokedex .pokemon {
    padding-top: 1rem;
    background-color: #d2524d;
    border: 15px solid #f3cd4d;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 600px;
    width: 100%; }
    .pokedex .pokemon .name {
      text-align: center;
      font-size: 2.2rem;
      padding-bottom: 3rem; }
    .pokedex .pokemon .images-container {
      height: 275px;
      width: 275px;
      margin: 0 auto 3rem auto;
      box-shadow: 0 -6px 0 -2px #282828, 0 6px 0 -2px #282828, 0 -12px 0 -4px #282828, 0 12px 0 -4px #282828, 0 -18px 0 -8px #282828, 0 18px 0 -8px #282828, 0 -24px 0 -12px #282828, 0 24px 0 -12px #282828, -2px 0 0 0 black, 2px 0 0 0 black, 0 -4px 0 0 black, 0 4px 0 0 black, 0 -10px 0 -2px black, 0 10px 0 -2px black, 0 -14px 0 -4px black, 0 14px 0 -4px black, 0 -20px 0 -8px black, 0 20px 0 -8px black, 0 -26px 0 -12px black, 0 26px 0 -12px black, -4px 0 0 0 white, 4px 0 0 0 white, 0 -2px 0 2px white, 0 2px 0 2px white, 0 -8px 0 0px white, 0 8px 0 0px white, 0 -12px 0 -2px white, 0 12px 0 -2px white, 0 -16px 0 -4px white, 0 16px 0 -4px white, 0 -22px 0 -8px white, 0 22px 0 -8px white, 0 -28px 0 -12px white, 0 28px 0 -12px white, -6px 0 0 0 black, 6px 0 0 0 black, 0 0 0 4px black, 0 -6px 0 2px black, 0 6px 0 2px black, 0 -10px 0 0 black, 0 10px 0 0 black, 0 -14px 0 -2px black, 0 14px 0 -2px black, 0 -18px 0 -4px black, 0 18px 0 -4px black, 0 -24px 0 -8px black, 0 24px 0 -8px black, 0 -30px 0 -12px black, 0 30px 0 -12px black;
      background-color: #282828; }
      .pokedex .pokemon .images-container .image-container {
        width: 50%;
        height: auto; }
        .pokedex .pokemon .images-container .image-container img {
          width: 100%;
          height: auto; }

.guessSubmit {
  background: aquamarine;
  display: inline-block; }

.details {
  background-color: #f0eef1;
  height: 140px;
  box-shadow: 0 -6px 0 -2px #f0eef1, 0 6px 0 -2px #f0eef1, 0 -12px 0 -4px #f0eef1, 0 12px 0 -4px #f0eef1, 0 -18px 0 -8px #f0eef1, 0 18px 0 -8px #f0eef1, 0 -24px 0 -12px #f0eef1, 0 24px 0 -12px #f0eef1, -2px 0 0 0 black, 2px 0 0 0 black, 0 -4px 0 0 black, 0 4px 0 0 black, 0 -10px 0 -2px black, 0 10px 0 -2px black, 0 -14px 0 -4px black, 0 14px 0 -4px black, 0 -20px 0 -8px black, 0 20px 0 -8px black, 0 -26px 0 -12px black, 0 26px 0 -12px black, -4px 0 0 0 white, 4px 0 0 0 white, 0 -2px 0 2px white, 0 2px 0 2px white, 0 -8px 0 0px white, 0 8px 0 0px white, 0 -12px 0 -2px white, 0 12px 0 -2px white, 0 -16px 0 -4px white, 0 16px 0 -4px white, 0 -22px 0 -8px white, 0 22px 0 -8px white, 0 -28px 0 -12px white, 0 28px 0 -12px white, -6px 0 0 0 black, 6px 0 0 0 black, 0 0 0 4px black, 0 -6px 0 2px black, 0 6px 0 2px black, 0 -10px 0 0 black, 0 10px 0 0 black, 0 -14px 0 -2px black, 0 14px 0 -2px black, 0 -18px 0 -4px black, 0 18px 0 -4px black, 0 -24px 0 -8px black, 0 24px 0 -8px black, 0 -30px 0 -12px black, 0 30px 0 -12px black;
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1; }
  .details span {
    width: 50%; }
  .details span:nth-of-type(3) {
    width: 100%; }

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite; }

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none; }

.crt {
  animation: textShadow 1.6s infinite;
  background-color: black; }

.name {
  margin: 0;
  color: white; }

/*# sourceMappingURL=main.css.map */
