* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: rgb(213, 224, 238);
  margin: 0;
  padding: 0;
  font-family: "PokemonGb-RAeo";
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

input {
  font-family: "PokemonGb-RAeo";
  height: 50px;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  font-size: 1.9rem;
  padding-left: 1rem;
  width: 150px;
  margin-right: 1rem;
  box-shadow: $border-pixelated;
  border: none;
  background-color: rgb(240, 238, 241);
  outline: none;
}

input[type="submit"] {
  margin-top: -6px;
  text-align: center;
  &.search {
    background-color: #4caf50;
  }
  &.random {
    background: #e76e55;
  }
}

.button {
  margin: 0.2rem;
  border: 2px solid black;
  border-radius: 5px;
  width: 120px;
  height: 60px;
  cursor: pointer;
  color: $white;
  font-size: 1rem;
  font-family: "PokemonGb-RAeo";
  box-shadow: inset -4px -4px 0px 0px rgba(0, 0, 0, 0.3);
  outline: none;
  &:active {
    transform: translateY(2px);
    box-shadow: inset 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  }
}
