* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background-color: rgb(213, 224, 238);
  margin: 0;
  padding: 0;
  font-family: "PokemonGb-RAeo";
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

input {
  font-family: "PokemonGb-RAeo";
  height: 50px;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  font-size: 1.9rem;
  padding-left: 1rem;
  width: 150px;
  margin-right: 1rem;
  box-shadow: $border-pixelated;
  border: none;
  background-color: rgb(240, 238, 241);
  outline: none;
}

input[type="submit"] {
  margin-top: -6px;
  height: 60px;
  width: 120px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 9px rgba(0, 0, 0, 0.3);
  &.search {
    background-color: #4caf50;
    box-shadow: inset -4px -4px 0px 0px #2f691d;
    &:active {
      box-shadow: inset 4px 4px 0px 0px #2f691d;
      transform: translateY(2px);
    }
  }
  &.random {
    margin-left: 3rem;
    background: #e76e55;
    box-shadow: inset -4px -4px 0px 0px #8c2022;
    &:active {
      box-shadow: inset 4px 4px 0px 0px #8c2022;
      transform: translateY(2px);
    }
  }
}
