@font-face {
  font-family: "PokemonGb-RAeo";
  src: url("../fonts/PokemonGb-RAeo.ttf");
}
@font-face {
  font-family: "PokemonGbJapanHrregular-Bq93";
  src: url("../fonts/PokemonGbJapanHrregular-Bq93.ttf");
}
@font-face {
  font-family: "PokemonGbJapanKt-8Rw2";
  src: url("../fonts/PokemonGbJapanKt-8Rw2.ttf");
}
@font-face {
  font-family: "PokemonUnownGb-YAWa";
  src: url("../fonts/PokemonUnownGb-YAWa.ttf");
}
