@import "variables";
@import "fonts";
@import "base";
@import "slick";
@import "slick-theme";

.pokedex {
  width: 600px;
  .form-container {
    .main-form {
      width: 100%;
      height: fit-content;
      background: $red;
      border: $border-yellow;
      border-bottom: none;
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        margin: 1rem auto 0 auto;
      }
      label {
        margin: 2rem 2rem 0 auto;
        display: flex;
      }
    }
    .name-container {
      display: flex;
      justify-content: flex-end;
      border-left: 15px solid $yellow;
      border-right: 15px solid $yellow;
      background-color: $red;
      padding-right: 2rem;
      #name-prev,
      #name-next {
        background: rgb(72, 61, 139);
        &:active {
          box-shadow: inset 4px 4px 0px 0px rgb(62, 41, 119);
        }
      }
    }
  }
  .pokemon {
    padding-top: 1rem;
    background-color: $red;
    border: $border-yellow;
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 600px;
    width: 100%;
    .name {
      text-align: center;
      font-size: 2.2rem;
      padding-bottom: 3rem;
    }
    .images-container {
      height: 275px;
      width: 275px;
      margin: 0 auto 3rem auto;
      box-shadow: $border-pixelated-screen;
      background-color: rgb(40, 40, 40);
      .image-container {
        width: 50%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.guessSubmit {
  background: aquamarine;
  display: inline-block;
}

.details {
  background-color: rgb(240, 238, 241);
  height: 140px;
  box-shadow: $border-pixelated;
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  span {
    width: 50%;
  }
  span:nth-of-type(3) {
    width: 100%;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
  background-color: black;
}

.name {
  margin: 0;
  color: $white;
}
