@import "variables";
@import "fonts";
@import "base";
@import "slick";
@import "slick-theme";

.pokedex {
  width: 600px;
  .main-form {
    width: 100%;
    height: fit-content;
    background: $red;
    border: $border-yellow;
    border-bottom: 7px solid rgb(243, 205, 77);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin: 2rem auto 1rem auto;
    }
    label {
      margin: 2rem auto;
      display: flex;
    }
  }
  .pokemon {
    background-color: $red;
    border: $border-yellow;
    border-top: 7px solid rgb(243, 205, 77);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 600px;
    width: 100%;
    .name {
      text-align: center;
      font-size: 2.2rem;
    }
    .images-container {
      height: 275px;
      width: 275px;
      margin: 0 auto 3rem auto;
      box-shadow: $border-pixelated;
      background-color: rgb(240, 238, 241);
      .image-container {
        width: 50%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.guessSubmit {
  background: aquamarine;
  border-radius: 0px;
  border: none;
  width: 80px;
  display: inline-block;
}

.details {
  background-color: rgb(240, 238, 241);
  height: 140px;
  box-shadow: $border-pixelated;
  padding: 1.2rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  span {
    width: 50%;
  }
  span:last-of-type {
    width: 100%;
  }
}
