$inner: #f0eef1;
$border: black;
$accent: white;

$border-yellow: 15px solid rgb(243, 205, 77);

$border-pixelated:
/* Inner Background Color -- Same as inner */ 0 -6px 0 -2px
    $inner,
  0 6px 0 -2px $inner, 0 -12px 0 -4px $inner, 0 12px 0 -4px $inner,
  0 -18px 0 -8px $inner, 0 18px 0 -8px $inner, 0 -24px 0 -12px $inner,
  0 24px 0 -12px $inner, /* Inner Border */ -2px 0 0 0 $border,
  2px 0 0 0 $border, 0 -4px 0 0 $border, 0 4px 0 0 $border,
  0 -10px 0 -2px $border, 0 10px 0 -2px $border, 0 -14px 0 -4px $border,
  0 14px 0 -4px $border, 0 -20px 0 -8px $border, 0 20px 0 -8px $border,
  0 -26px 0 -12px $border, 0 26px 0 -12px $border,
  /* Middle Border -- Accent */ -4px 0 0 0 $accent, 4px 0 0 0 $accent,
  0 -2px 0 2px $accent, 0 2px 0 2px $accent, 0 -8px 0 0px $accent,
  0 8px 0 0px $accent, 0 -12px 0 -2px $accent, 0 12px 0 -2px $accent,
  0 -16px 0 -4px $accent, 0 16px 0 -4px $accent, 0 -22px 0 -8px $accent,
  0 22px 0 -8px $accent, 0 -28px 0 -12px $accent, 0 28px 0 -12px $accent,
  /* Outer Border */ -6px 0 0 0 $border, 6px 0 0 0 $border, 0 0 0 4px $border,
  0 -6px 0 2px $border, 0 6px 0 2px $border, 0 -10px 0 0 $border,
  0 10px 0 0 $border, 0 -14px 0 -2px $border, 0 14px 0 -2px $border,
  0 -18px 0 -4px $border, 0 18px 0 -4px $border, 0 -24px 0 -8px $border,
  0 24px 0 -8px $border, 0 -30px 0 -12px $border, 0 30px 0 -12px $border;
